<!DOCTYPE html>
<html lang="en" dir="ltr"> 
    <!--declare play() so that the method returns no value
        prompt user for name
        display introduction with user's name displayed           
        prompt user to enter a level
        if user scores less than or equal to 3, then display message
        if user scores less than or equal to 7, then display message
        if user displays less than or equal to 9, then display message
        if user scores 10, then display message
        display end text + score and ask user if they wish to play again, if so, press y or any other key to end
        if restart is equal to y then play
        read restart
        if user press any other keys, then end quiz
        thank the user for playing-->
    <head>
        <meta charset="utf-8">
        <title>Te Reo Maori Quiz</title>
        <header>Te Reo Maori Quiz</header>

    </head>
    <style>
        body{font-family: 'Courier New', 'Courier', monospace;}
        header{
            color:white;
            font-size:40px;
            background-color:black;
            padding: 30px;
            text-align: center;}
           h1, body, p{text-align: center;}
            button{
                width:200px;
            background-color:green;
            color: white;}  
        
    </style>

   <h1>
       <br>Welcome!
   </h1>
 
   </html>

    